OPENAI_API_KEY=Your_API_KEY
OPENAI_MODEL_NAME=gpt-4o-mini
OPENAI_MODEL_TEMPERATURE=0

AI_CONTEXTUALIZE_PROMPT='Dado um histórico de conversa e a pergunta mais recente do usuário, que pode fazer referência ao contexto anterior, formule uma pergunta independente, que possa ser compreendida sem o histórico da conversa. NÃO responda à pergunta — apenas reformule se necessário; caso contrário, retorne a pergunta como está.'
AI_SYSTEM_PROMPT="Seu nome é AI-res\nVocê é um analista ambiental especializado em qualidade do ar e assistente em tarefas de resposta a perguntas.\nUse os seguintes trechos de contexto abaixo para responder à Questão.\n\nINSTRUÇÕES:\n1. Se a resposta exigir dados de múltiplas fontes (Source), integre-as coerentemente\n2. Se não houver informações suficientes, diga claramente\n3. Mantenha-se factual baseado apenas no contexto fornecido\n4. Responda em português do Brasil\n\nIMPORTANTE:\n- Os trechos estão rotulados com [Source: ...]. Considere APENAS o mesmo Source ao construir a resposta.\n- Se não houver informações suficientes no mesmo Source, diga que não sabe.\n- Responda SEMPRE em português do Brasil.\n\nCONTEXTO:\n{context}"

EVOLUTION_API_URL = http://evolution-api:8080
EVOLUTION_INSTANCE_NAME = AndreEsquincalha
AUTHENTICATION_API_KEY=AndreEsquincalha
CONFIG_SESSION_PHONE_VERSION=2.3000.1025220211

DATABASE_ENABLED=true
DATABASE_PROVIDER=postgresql
DATABASE_CONNECTION_URI='postgresql://postgres:postgres@postgres:5432/evolution?schema=public'
DATABASE_CONNECTION_CLIENT_NAME=evolution_exchange
DATABASE_SAVE_DATA_INSTANCE=true
DATABASE_SAVE_DATA_NEW_MESSAGE=true
DATABASE_SAVE_MESSAGE_UPDATE=true
DATABASE_SAVE_DATA_CONTACTS=true
DATABASE_SAVE_DATA_CHATS=true
DATABASE_SAVE_DATA_LABELS=true
DATABASE_SAVE_DATA_HISTORIC=true

CACHE_REDIS_ENABLED=true
CACHE_REDIS_URI=redis://redis:6379/6
CACHE_REDIS_PREFIX_KEY=evolution
CACHE_REDIS_SAVE_INSTANCES=false
CACHE_LOCAL_ENABLED=false

VECTOR_STORE_PATH=vectorstore
RAG_FILES_DIRS=rag_files

BUFFER_KEY_SUFIX='_msg_buffer'
DEBOUNCE_SECONDS=10
BUFFER_TTL=300

ES_CERT_FINGERPRINT=781211D7A2E0FA9A5F95D2298ABDC38C5B9C853792338A08F2223FFE567D30E6

RETRIEVER_BASE_URL=http://retriever-api:9020
RETRIEVER_API_KEY=seu_token_super_simples_mega_encriptado_ultra_power_blaster_1234554321
RETRIEVER_TIMEOUT=60
RETRIEVER_DEFAULT_INDEX=manuais

# Lista de tópicos (id, label a mostrar no WhatsApp e slug doc_topic para a API)
TOPICS_SPEC=[{"id":1,"label":"Certificados de calibração","doc_topic":"Certificados-de-calibracao"},{"id":2,"label":"Relatórios(RT-AIR)","doc_topic":"Relatorios-RT-AIR"},{"id":3,"label":"Inventário de estação","doc_topic":"Inventario-da-estacao"},{"id":4,"label":"Inventário de modelagem","doc_topic":"Inventario-de-modelagem"},{"id":5,"label":"Informações do cliente","doc_topic":"Informacoes-de-Clientes"},{"id":6,"label":"Ocorrências da estação","doc_topic":"Ocorrencias"},{"id":7,"label":"Ofícios","doc_topic":"Oficios"}]

